<% content_for :title, "Главная - Геликон Про" %>

<div class="gelicon-hero">
  <h1 class="gelicon-hero-title">Добро пожаловать</h1>
  <p class="gelicon-hero-text">Программное обеспечение вашего бизнеса</p>
</div>
