<% content_for :title, "Вакансии - О компании - Геликон Про" %>

<%= render layout: "application/about_layout", locals: { breadcrumb_current: "Вакансии" } do %>
  <h2 class="about-page-title">Вакансии</h2>

  <p>Мы всегда рады талантливым специалистам. Если вы хотите работать над интересными проектами в сфере IT — присылайте резюме на <a href="mailto:info@gelicon.biz">info@gelicon.biz</a>.</p>
<% end %>
