<% content_for :title, "Миссия - О компании - Геликон Про" %>

<%= render layout: "application/about_layout", locals: { breadcrumb_current: "Миссия" } do %>
  <h2 class="about-page-title">Миссия</h2>

  <h3 class="about-subheading">Наша миссия:</h3>

  <p>Удовлетворять потребности бизнеса в современных технологиях сбора, хранения, передачи и обработки информации.</p>
<% end %>
