<% content_for :title, "Компетенции - О компании - Геликон Про" %>

<%= render layout: "application/about_layout", locals: { breadcrumb_current: "Компетенции" } do %>
  <h2 class="about-page-title">Компетенции</h2>

  <p>Компания обладает многолетним опытом в области:</p>

  <ul class="about-dash-list">
    <li>— разработки корпоративных информационных систем</li>
    <li>— автоматизации коммунального хозяйства</li>
    <li>— создания веб-порталов и личных кабинетов</li>
    <li>— интеграции разнородных информационных систем</li>
    <li>— сопровождения и развития информационных систем</li>
    <li>— разработки мобильных приложений</li>
  </ul>
<% end %>
