<% content_for :title, "Контакты - О компании - Геликон Про" %>

<%= render layout: "application/about_layout", locals: { breadcrumb_current: "Контакты" } do %>
  <h2 class="about-page-title">Контакты</h2>

  <p><strong>Адрес:</strong> Пермь, ул. Лебедева 25Б, 3й этаж</p>
  <p><strong>Телефон:</strong> (342) 261-84-64 тел./факс, (342) 261-85-99, (342) 261-86-69</p>
  <p><strong>Email:</strong> <a href="mailto:info@gelicon.biz">info@gelicon.biz</a></p>
<% end %>
