<% content_for :title, "Прайс-лист Gelicon Core - Продукты и решения - Геликон Про" %>

<%= render layout: "application/products_layout", locals: { breadcrumb_parent: { text: "Gelicon Core", path: product_path("gelicon-core") }, breadcrumb_current: "Прайс-лист" } do %>
  <h2 class="about-page-title">Прайс-лист Gelicon Core</h2>

  <h3 class="about-subheading">Серверная лицензия Gelicon Core</h3>
  <p>Стоимость серверной части системы — 36 000 руб. Стоимость лицензии на одного пользователя — 8 600 руб.</p>
<% end %>
