<% content_for :title, "Gelicon Core - Продукты и решения - Геликон Про" %>

<%= render layout: "application/products_layout", locals: { breadcrumb_current: "Gelicon Core" } do %>
  <h2 class="about-page-title">Gelicon Core</h2>

  <h3 class="about-subheading">Область применения</h3>
  <p>Система «Gelicon Core» (Система) — программное обеспечение, используется как платформа для разработки веб-приложений.</p>
  <p>Основные области применения Системы:</p>
  <ul class="about-dash-list">
    <li>— Систему используют для разработки веб-приложений для любых целей, например, личные кабинеты сотрудников для регистрации каких-либо заявок, отчётов, других электронных документов.</li>
  </ul>

  <h3 class="about-subheading">Краткое описание возможностей</h3>
  <p>Система разделена на Административную и Клиентскую части. В Административной части работает пользователь с ролью «Администратор», в Клиентской части работают пользователи с ролями, которые настраиваются в процессе разработки.</p>

  <h3 class="about-subheading">Виды деятельности, функции</h3>
  <p>Система «Gelicon Core» обеспечивает реализацию следующих функциональных возможностей:</p>

  <p><strong>1. Административная часть Системы (роль «Администратор»), включает в себя следующие функции:</strong></p>
  <ul class="about-dash-list">
    <li>— авторизованный доступ;</li>
    <li>— администрирование учётных записей пользователей (учётные записи пользователей, роли, права, доступ к модулям, доступ к ресурсам);</li>
    <li>— аудит (просмотр логов, сессий пользователей);</li>
    <li>— управление НСИ (справочник единиц измерения, справочник сотрудников, могут быть настроены любые другие справочники);</li>
    <li>— управление документами;</li>
    <li>— управление типами электронных материалов;</li>
    <li>— управление ресурсами (печатные формы, нумераторы, признаки, константы).</li>
  </ul>

  <p><strong>2. Клиентская часть Системы включает в себя следующие функции:</strong></p>
  <ul class="about-dash-list">
    <li>— авторизованный доступ;</li>
    <li>— восстановление пароля;</li>
    <li>— могут быть настроены функции просмотра (ведения) реестра документов, получение отчётов и т.д.</li>
  </ul>
<% end %>
